{% extends 'main/includes/base.html' %}

{% block tittle %}Вопрос №{{ question.id }}{% endblock %}

{% block content %}
    {% include 'main/includes/questions.html' %}
    {% for answer in answers %}
        {% include 'main/includes/answer.html' %}
    {% endfor %}
    {% include 'main/includes/paginator.html' %}
    {% if user.is_authenticated %}
    <div class="form-group mt-5">
        <label for="exampleFormControlTextarea1">Введите ответ</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="button" class="btn btn-secondary mt-3">Ответить!</button>
    </div>
    {% else %}
    <div class="form-group mt-5">
        <p>Отвечать могут только <a href="{% url 'login' %}">авторизованные</a> пользователи</p>
    </div>
    {% endif %}
{% endblock %}