{% load static %}

<div class="row mt-5">
    <div class="col-2 text-center">
        <img src={{ answer.user.profile.avatar.url }} class="rounded shadow" style="max-width: 100px;"></img>

        {% include 'main/includes/rating.html' with rating=answer.rating %}
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col-9 {% if answer.is_correct %}alert alert-success{% endif %}">
                {{ answer.text }}
            </div>
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <lable class="font-weight-light text-right" style="float: right;">{{ answer.date_create }}</lable>
                    </li>
                    <li class="list-group-item">
                        <lable class="font-weight-light text-right" style="float: right;">{{ answer.user.profile.nick_name }}</lable>
                    </li>
                </ul>
            </div>
        </div>
        {% if question.user == request.user %}
        <div class="form-check mt-4">
            <input type="checkbox" class="form-check-input" id="exampleCheck1"
                   {% if answer.is_correct %} checked {% endif %}>
            <label class="form-check-label font-weight-light" for="exampleCheck1">Правильный ответ!</label>
        </div>
        {% endif %}
    </div>
</div>
<hr>