{% load static %}

<div class="row question-box">
    <div class="col-2">
        <img src={{ question.user.profile.avatar.url }} class="question-img"></img>

        {% include 'main/includes/rating.html' with rating=question.rating%}
    </div>
    <div class="col-10">
        <lable class="font-weight-light" style="text-align: right; float: right;">{{ question.date_create }}</lable>
        <a href="{% url 'question' question.id %}">
            <div class="question-title">{{ question.title }}</div>
        </a>
        <div class="question-text">
            {{ question.text }}
        </div>
        <div>
        <a href="{% url 'question' question.id %}">
            Ответы ({{ question.answers.count }})
        </a>
        {% if question.tags.count > 0 %}
        Теги:
        {% for tag in question.tags.all %}
        <a href="{% url 'tag' tag.name %}" class="badge badge-info">{{ tag.name }}</a>
        {% endfor %}
        {% endif %}
        </div>
    </div>
</div>