{% load static %}

<div class="row question-box">
    <div class="col-2">
        <img src="{% static "img/my_cat.jpeg" %}" class="question-img"></img>

        {% include 'main/includes/rating.html' %}
    </div>
    <div class="col-10">
        <a href="{% url 'question' pk=0 %}">
            <div class="question-title">{{ question.title }}</div>
        </a>
        <div class="question-text">
            {{ question.text }}
        </div>
        <a href="{% url 'question' pk=0 %}" class="card-link mr-3">
            Ответы (0)
        </a>
        Теги: <a href="{% url 'tag' pk=0 %}"><span class="badge badge-default">тег1</span></a>
    </div>
</div>